<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320146660045-fpkafd6j4ndb2aok4np22c2d00vcfdlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320146660045-fpkafd6j4ndb2aok4np22c2d00vcfdlk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320146660045-1pkr3c5rlag29dqkq7ifppe475blaber.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQQtaSyuT7TUfa_eJINOa3edUPLomKiw8</string>
	<key>GCM_SENDER_ID</key>
	<string>320146660045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bacon.expo.googlesignin</string>
	<key>PROJECT_ID</key>
	<string>flowerlike-1565144344010</string>
	<key>STORAGE_BUCKET</key>
	<string>flowerlike-1565144344010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320146660045:ios:0a8a31b128d04c77</string>
	<key>DATABASE_URL</key>
	<string>https://flowerlike-1565144344010.firebaseio.com</string>
</dict>
</plist>